
.signin-button {
    background-color: transparent;
    color: black;
    border-top: 2px #149279 solid;
    border-bottom: 2px #149279 solid;
    border-left: 2px #149279 solid;
    border-right: 2px #149279 solid ;
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    
  
  }
  .sign-button {
    background-color: whitesmoke;
    color: black;
    padding: 10px 20px; 
    border: none;
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
  }
  .sign-button:hover {
    color: white;
    background-color: #149279;
    transition: all 0.5s linear;
  }
  
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 200;
  }
  .nav,
  .nav .nav-links {
    display: flex;
    align-items: center;
  }
  .nav {
    justify-content: space-between;
  }
  a {
    font-weight: 600;
    color: #149279;
    text-decoration: none;
  }
  .nav .logo {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.5em;
  }
  .nav .nav-links {
    column-gap: 20px;
    list-style: none;
  
  }
  .nav-links li{
    padding: 10px 2px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
  }
  .nav-links li:hover{
    border-bottom-color: #149279;
    transition: all 0.8s ease-in-out;
  }
  
  .nav .nav-links a {
    transition: all 0.2s linear;
  }
  .nav.openSearch .nav-links a {
    opacity: 0;
    pointer-events: none;
  }
  .nav .search-icon {
    color: black;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    position: absolute;
    right: 250px;
    height: 45px;
    max-width: 555px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
  }
  .nav.openSearch .search-box {
    opacity: 1;
    pointer-events: auto;
  }
  .search-box .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    left: 15px;
    color: black;
    transform: translateY(-50%);
  }
  .search-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #fff;
    padding: 0 15px 0 45px;
  }
  
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: none;
  }
  
  
  /* responsive */
  @media screen and (max-width: 1160px) {
      .nav {
        padding: 15px 100px;
      }
      .nav .search-box {
        right: 150px;
      }
    }
    @media screen and (max-width: 950px) {
      .nav {
        padding: 15px 50px;
      }
      .nav .search-box {
        right: 100px;
        max-width: 400px;
      }
    }
    @media screen and (max-width: 768px) {
      .nav .navOpenBtn,
      .nav .navCloseBtn {
        display: block;
      }
      .nav {
        padding: 15px 20px;
      }
      .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 280px;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        background-color: white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 100;
      }
      .nav.openNav .nav-links {
        left: 0;
      }
      .nav .navOpenBtn {
        color: black;
        font-size: 20px;
        cursor: pointer;
      }
      .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: black;
        font-size: 20px;
        cursor: pointer;
      }
      .nav .search-box {
        top: calc(100% + 10px);
        max-width: calc(100% - 20px);
        right: 50%;
        transform: translateX(50%);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }
      .signin-button{
        display: none;
      }
      .sign-button{
        display: none;
      }
    }